@media(min-width:1050px){
    
    .container{
    width:500px;
    height: 700px;
    }

}

@media(max-width:1050px){
    
    .container{
    width:300px;
    height: 600px;
    }

}

h3{
    color: #000;
    font-size: 2em;
    margin-bottom: 40px;
}

.form_span{
    padding:5px 18px;
    display:flex;
    
}

/* Стиль полей ввода */
.form_input{

    max-width: 500px;
    padding: 8px 15px;
    margin: 7px 0;

    border-radius: 7px;

    border-color: #779277;
    background-color: #ffffff;
}

.form_textarea{
     max-width: 500px;
     max-height:250px;
    padding: 8px 15px;
    margin: 7px 0;

    border-radius: 7px;

    border-color: #44659a;
    background-color: #ffffff;
}

/* Стиль кнопки отправки формы */
.form_btn{
    width: 100%;
    height: 60px;

    margin-top: 30px;
    font-size: 1.5em;
    font-weight:600;

    border:none;
    border-bottom:7px solid #c07c16;
    border-radius: 7px;

    color: #fff;
    background-color: #dd8747;
    transition: 400ms ease-in-out;
}

.form_btn:active{
    border:none;
}

/* Стиль кнопки возвращения */
.btn_back{
    cursor: pointer;

    position: relative;

    width: 80px;

    height: 50px;

    margin: 20px;

    border: none;

    background-color: transparent;

}

.btn_back div {

    position: relative;

    top: 0px;

    width: 40px;

    height: 7px;

    background-color: #ffffff;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    left: 10px;

    display: block;

}


.btn_back div::before {

    content: '';

    position: absolute;

    width: 20px;

    height: 7px;

    top: 5px;

    left: -4px;

    background-color: #ffffff;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    transform: rotate(45deg);

}


.btn_back div::after {

    content: '';

    position: absolute;

    width: 20px;

    height: 7px;

    top: -5px;

    left: -4px;

    background-color: #ffffff;

    transform: rotate(-45deg);
}

:after, :before {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;
}